*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
}

h6{
    text-align: center;
    color: cadetblue;
}

span{
    font-weight: 600;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin: bottom 100px;
    font-size:4rem;
}


input[type="number"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 40px;
    border-radius: 25px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 2px grey;
}

/* this removes arrows of input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder{
    color: darkgray;
}

.button{
    border-radius: 40px;
    margin-left: 20px;
}

.button:hover{
    cursor: pointer;
    background-color: black;
    color: antiquewhite;
    border: solid 1px black;
}

p{
    font-weight: 900;
    font-size: 7rem;
    background: linear-gradient(90deg, rgb(61, 62, 67) 4%, rgb(26, 21, 22) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

a img{
    height: 25px;
    width: 25px;
    margin-left: 1rem;
}

a img:hover{
    cursor: pointer;
    color: black;
}


@media only screen and (max-width: 600px) {

    .container1{
        display: block;
        margin-left: 10px;
        flex-wrap: wrap;
    }

    input[type="number"]{
        margin: 10px;
    }

    p{
        display: flex;
        flex-wrap: wrap;
    }
  }